<%= simple_form_for user, local: true do |form| %>
  <%= form.error_notification %>

  <%= form.input :name %>
  <%= form.input :cpf %>
  <%= form.input :email %>
  
  <%= form.simple_fields_for :orders do |f| %>
    <%= render "order/form", order: @order, f: f %>
  <% end %>
  
  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
