<%= simple_form_for user, local: true do |form| %>
  <%= form.error_notification %>

  <%= form.input :name %>
  <%= form.input :cpf %>
  <%= form.input :email %>
  
  <div id="orders-wrapper">
    <%= form.simple_fields_for :orders do |f| %>
        <%= render "order/form", order: @order, f: f %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to_add_row 'Adicionar Assinatura', form, :orders, class: 'btn btn-secondary' %>
  </div>
<% end %>
