<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<% @user.orders.each do |order| %>
  <div class="border p-3 mb-3">
    <h5>Assinatura <%= order.id %></h5>
    <p>
      <strong>Dispositivo:</strong>
      <%= order.device %>
    </p>
    <p>
      <strong>Imei:</strong>
      <%= order.imei %>
    </p>
    <p>
      <strong>Valor:</strong>
      <%= order.value %>
    </p>
    <p>
      <strong>Parcelas:</strong>
      <%= order.installments %>
    </p>
  </div>
<% end %>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
